/* 
References: 
- https://redocly.com/docs/realm/style/concepts/styling 

Note:
- Values here were manually mapped from grommet-theme.json
- Commented out hN-font-size indicate rendering difference.
*/

:root {
    /* Default styling goes here */

    --font-size-base: 18px;
    --font-family-base: Metric, Arial, sans-serif;
    --font-weight-base: 400;
    --line-height: 1.45em;

    --h1-font-size: 44px; /* 53px? */
    --h1-font-weight: 600;
    --h1-margin-top: 1.35em;
    --h1-margin-bottom: 0.9em;

    --h2-font-size: 36px; /* 50px? */
    --h2-font-weight: 600;
    --h2-margin-top: 1.25em;
    --h2-margin-bottom: 0.8em;

    --h3-font-size: 27px; /* 36px? */
    --h3-font-weight: 600;

    --h4-font-size: 22px; /* 27px? */
    --h4-font-weight: 600;

   /* --navbar-font-weight: var(--h1-font-weight) */
}

:root.light {
  /* Light mode styling goes here */
}

:root.dark {
  /* Dark mode styling goes here */
}
