.search-box-override span input {
  padding: 6px 10px;
}

.search-box-override ul {
  background-color: #F8F8F8; /* Grommet light-1 color */
}

.search-box-override ul a > div:hover {
  background-color: #EDEDED; /* Grommet light-3 color */
}

.nav-bar-sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}